@use './../abtracts'as *;

.cookies {
  display        : flex;
  position       : fixed;
  color          : $color-white;
  background     : rgba(#000, .4);
  padding        : 2rem 8rem;
  justify-content: space-between;
  z-index        : 5000;
  flex-direction : column;
  line-height    : 1.4;

  &__container {
    display        : flex;
    justify-content: space-between;
    font-size      : 1.2rem;
    align-items    : center;
  }

  &__text {
    width        : fit-content;
    padding-right: 10rem;
  }

  &__buttons {
    display        : flex;
    flex-direction : column;
    width          : 25%;
    align-items    : center;
    justify-content: center;
  }

}