.mails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  padding-left: 4rem;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  overflow-y: scroll;

  &__assistance {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-items: flex-start;
    margin-bottom: 0;
  }

  &__preview {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  &__card {
    align-items: flex-start;
    height: auto;
  }

  &__frame {
    width: 100%;
    height: 100%;
  }
}
